/* Body Styles */
/* body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom right, #FFB347, #FFCC66);
    color: #333333;
    margin: 0;
    padding: 0;
  } */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #FFA500, #FF5F6D);
  }
  /* Container Styles */
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  /* Heading Styles */
  h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333333;
  }
  
  /* Form Styles */
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    padding: 12px;
    background-color: #FFB347;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #FFA133;
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 600px) {
    .container {
      max-width: 300px;
      padding: 15px;
    }
  
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    input[type="email"],
    input[type="password"] {
      padding: 8px;
      margin-bottom: 15px;
    }
  
    button[type="submit"] {
      padding: 10px;
    }
  }
  